@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(GCgb7bssGpwp7V5ynxmWy-YDkGZU0bw2OXG1Ku08t6E.ttf) format('truetype');
}
